* {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 600px;

  justify-self: center;

  padding: 20px;
  border-radius: 8px;
  background-color: white;
}

.container h1{
  align-self: center;
}